<header class="site-header">
    <div class="container">
        <a href="/index.html" class="logo">
            <img src="assets/img/logo/logo.png" alt="Enes Yerebakan Logo" />
        </a>

        <nav class="main-navbar">
            <a href="/index.html">Home</a>
            <a href="/pages/about.html">About</a>
            <a href="/pages/projects.html">Projects</a>
            <a href="/pages/contact.html">Contact</a>
        </nav>

        <div class="lang-switch">
            <span class="lang active">EN</span>
            <span>|</span>
            <span class="lang disabled">TR</span>
        </div>
        <button class="hamburger-btn"></button>
    </div>
</header>